@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .heroBtn {
        @apply px-2 lg:px-4 py-2 hover:text-white transition-all border-solid hover:border-white
        rounded-full uppercase border border-[#1f1f1f] text-sm lg:text-lg
    }
}

.snap {
    scroll-behavior: smooth;
}

.snap-page {
    height: 100vh;
    scroll-snap-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 30px;
    font-weight: bold;
}